<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <%- include('./partials/head.ejs') %> 
    </head>
    <body class="position-relative">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="wrapper" class="d-flex justify-content-center align-items-center">
            <div id="app" class="container px-3">
                <div class="row">
                    <div class="col-12 col-md-6 py-3">
                        <h2>Movie Review Classifier</h2>
                        <strong>Let me guess if the review is positive or negative. For accurate prediction, make the review long.</strong>
                        <form action="">
                            <input type="text" name="title" class="form-control mt-4" placeholder="Enter movie title">
                            <textarea name="review" id="" class="form-control mt-4" placeholder="Write your review"></textarea>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-success form-control w-auto float-end mt-4">POST</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-12 col-md-6 py-3">
                        <div id="review-list" class="bg-light p-2">
                            List of reviews here ...
                        </div>
                        <button class="btn btn-secondary form-control w-auto float-end mt-4" id="clear">CLEAR</button>
                    </div>
                </div>
            </div>
        </div>
        <%- include('./partials/script.ejs')  %> 
    </body>
</html>